body{
background-color: beige;
color: rgb(55, 35, 3);
font-family: "Manufacturing Consent", system-ui;

}

header{
    font-family:"Manufacturing Consent", system-ui;
    font-size: 75px;
    border-bottom: double 5px rgb(53, 27, 3);
    padding: 50px;
    text-align: center;
}
hl{
    font-size: 30px;
}
p{
    font-size: 2px;
}
section {
    display: flex;
    justify-content: center;
    background-color: rgb(165, 93, 42);

}

.texto {
    margin-right: 5%;
}
img{
    width: 300px;
    height: 200px;
}