



body {
   background-color: rgb(58, 15, 15);
   color:rgb(164, 84, 10) ;
 font-family: "Bitter", serif; 


}


header{
   font-family: "Bitter", serif;
   font-size: 40px ;
   border-bottom: double 5px rgb(0, 0, 0) ;
   padding: 50px;
   text-align: center;
}
h1{
     font: size 30px;;


}
p{
   font-size: 30px;
}
section {
    display: flex;
    justify-content: center;
    background-color:rgb(238, 207, 120);
}
.sorvete{
   margin-right:5%
}
img{
   width: 300px;
   height: 200px;
}
